@import './base.css';

/*Background img en voile gris et l'image glissante sur toutes les photos de menu et de card*/
   .Bckgd_Img {
       background: no-repeat fixed;
       height: 90vh;
       overflow: hidden;
       background-color: rgba(50, 70, 80, 0.7);
       background-blend-mode: hard-light;
   }
   .Img_Size {
        height: 670px;
   }


